**Step 1: Data Exploration & Loading**

In [ ]:
#importing dependencies

import pandas as pd
#mysql toolkit
import pymysql #This will work as adapter
from sqlalchemy import create_engine

In [ ]:
df = pd.read_csv('walmart.csv', encoding_errors='ignore')
df.shape

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.info

In [ ]:
#all duplicates
df.duplicated().sum()

In [ ]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
#dropping all rows with missing records
df.dropna(inplace=True)

In [ ]:
#Verify
df.isnull().sum()

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df['unit_price'] = df['unit_price'].str.replace('$','').astype(float)
df.head()

In [ ]:
df.columns

In [ ]:
df['total_revenue'] = df['unit_price'] * df['quantity']
df.head()

In [ ]:
#mysql
#host = localhost
#port = 3306
#user = root
#password = 'MySQL123!'

In [ ]:
df.to_csv('walmart_clean_data.csv', index=False)

In [ ]:
help(create_engine)

In [ ]:
#Mysql Connections:
#"mysql+pymsql://user:password@localhost:3306/db_name"
engine_mysql = create_engine("mysql+pymysql://root:MySQL123!@localhost:3306/walmart_db")

try:
    engine_mysql
    print("Connected successfully to mysql")
except:
    print("Unable to connect")

In [ ]:
help(df.to_sql)

In [ ]:
df.to_sql(name='walmart', con=engine_mysql, if_exists='append', index=False)

In [ ]:
df.columns = df.columns.str.lower()
df.columns